<div class="row content-header">
	
	<nav class="span6 pull-right">
		<ul class="breadcrumb">
			<li><%= link_to "Home", "/" %> <span class="divider">/</span></li>
			<li><%= link_to "Users", :action => "index" %></li>
		</ul>
	</nav>

	<h1 class="span6">Users</h1>

</div>

