<nav class="" id="company-show-sidebar">
	
	<ul class="nav nav-pills nav-stacked">
		<li>
			<%= nav_item('Company info', '/companies/1', 'companies').html_safe %>
		</li>
		<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 3 || session[:user_access] == 4 %>
		<li>
			<%= nav_item('Users', company_users_path(@company), 'users').html_safe %>
		</li>
		<% end %>
	</ul>
	
	<% if session[:user_access] == 4 %>
	<ul class="nav nav-pills nav-stacked">
		<li>
			<%= link_to "Back to companies", companies_path%>
		</li>
	</ul>
	<% end %>
	
</nav>