<nav class="span3 pull-left" id="company-show-sidebar">
	<ul class="nav nav-tabs nav-stacked">
		<li>
			<%= link_to "Account info", @company%>
		</li>
		<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 0 || session[:user_access] == 3 || session[:user_access] == 4 %>
		<li>
			<%= link_to "Users", [@company, :users] %>
		</li>
		<% end %>
	</ul>
</nav>