<script>

</script>

<header class="row" id="content-header">
			
		<nav class="col-md-6 pull-right">
			<ul class="breadcrumb">
				<li><%= link_to "Home", "/" %></li>
				<li><%= link_to "Internet Traffic", :action => "index" %></li>
			</ul>
		</nav>
	
		<div class="col-md-6 current-heading">
	
			<h1>
				Internet Usage
				<small>January 2014</small>
			</h1>
		
		</div>
	
</header>

<div class="row">
	
	<div class="col-sm-8">
		
		<div class="row">
			
			<div class="col-sm-12 chart chart1">
				<h2>
					Ármúli 24
					<small>SDSL 10</small>
				</h2>
				<svg id=""></svg>
				<table class="usage-totals">
					<tr>
						<th col="row">Total Usage</th>
						<td><%= (64461100616.0/1000000000).round(2).to_s.gsub('.',',') %> GB</td>
					</tr>
					<tr>
						<th col="row">Usage Included</th>
						<td>100,00 GB</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-12 chart chart2">
				<h2>
					Laugavegur 128
					<small>ADSL-M</small>
				</h2>
				<svg id=""></svg>
				<table class="usage-totals">
					<tr>
						<th col="row">Total Usage</th>
						<td><%= (64461100616.0/1000000000).round(2).to_s.gsub('.',',') %> GB</td>
					</tr>
					<tr>
						<th col="row">Usage Included</th>
						<td>100,00 GB</td>
					</tr>
				</table>
			</div>
			
		</div>
		
	</div>
	
	<div class="col-md-4 pull-right">
		<nav class="" id="company-show-sidebar">
	
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#">February 2014</a></li>
				<li class="active"><a href="#">January 2014</a></li>
				<li><a href="#">December 2013</a></li>
				<li><a href="#">November 2013</a></li>
				<li><a href="#">October 2013</a></li>
				<li><a href="#">September 2013</a></li>
			</ul>
	
		</nav>
	</div>
</div>
