// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-header { margin-top: 2em; }
#main-heading a { display: block; width: 300px; height: 60px; margin-bottom: 1em; outline: 1px solid red; }

.top-buttons { margin-bottom: 1em; }

// Forms
.new_company .buttons, .edit_company .buttons { text-align: right; }

// Tables
#content-area table { margin-bottom: 1em; }
#content-area table address { margin-bottom: 0; }
#content-area th[span=row] { padding-right: 1em; }
#content-area #new_company table .buttons { text-align: right; width: 150px; }

table .email { width: 6em; }
table .billing-address { width: 15em; }
table .buttons { width: 115px; }

.breadcrumb { text-align: right; background-color: transparent; margin-top: 1em; }

.pagination-container { text-align: center; }

// Sidebar
// #company-show-sidebar { margin-top: 60px; }

@media (max-width: 1199px) {
	#table-companies .billing-address { display: none; }
}

@media (min-width: 768px) {
	table td, table th { width: auto !important; }
}

@media (max-width: 767px) {
	#table-companies .telephone, #table-companies .contact-name, #table-companies .billing-address { display: none; }
	#content-area .content-header { padding-bottom: 0; margin-bottom: 0; }
	#content-area textarea#company_comments { height: 4em; }
	#company-show-sidebar { margin-top: 1em; }
}

@media (max-width: 480px) {
	#table-companies thead, #table-companies .email, #table-companies .telephone { display: none; }
	#table-companies { margin-top: 2em; }
	#table-companies a { display: block; }
	#table-company-users .email, #table-company-users .access { display: none; }
}
