// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content-area table { margin-bottom: 1em; }
#content-area th[span=row] { padding-right: 1em; }

#table-companies tbody td, #table-companies tbody th { vertical-align: middle; }
